body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(122, 200, 240);
    color: #000000;
}

h1 {
    text-align: center;
    color: #f8f4f4;
    background-color: rgb(43, 43, 100);
    padding: 20px;
    border: #000000 solid 1px;
    
}
h2 {
    color: #0f0f0f;
    background-color: rgb(122, 200, 240);
    padding: 10px;
   
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(206, 170, 211);
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
h3 {
    color: #040111;

}
h4 {
    color: #1a1a1a;
   
}   

#searchButton {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #f70b0b;
}